/* Ограничение ширины сайта */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

/* HEADER */
.header {
 position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px 80px;
}

/* LOGO */
.logo img {
  height: 50px;
  width: auto;
}

/* MENU */
.menu {
  display: flex;
  gap: 40px;
  
  font-size: 18px;
}

.menu a {
  text-decoration: none;
  color: #222;
  font-size: 18px;
  font-weight: 500;

  transition: 0.2s;
  color: black;
}

.menu a:hover {
  color: #000;
}

/* BUTTONS RIGHT */
.button-right {
  display: flex;
  gap: 16px;
  margin: 100px;
  transition: 0.2s;
}

.button-right button {
  padding: 10px 20px;
  
  
  border-radius: 6px;
  cursor: pointer;
  

  font-size: 16px;
}
.LD{
   padding: 200px 200px;
}
