.hero {
  height: 100vh;
  background: url("/Pictures/img2.jpg") center/cover no-repeat;
  position: relative;

  display: flex;
  align-items: center;

  padding: 0 80px;
}

/* затемнение */
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  
  pointer-events: none;
}

/* контент */
.block {
  position: relative;
  z-index: 1;

  max-width: 500px;
  color: white;
}

/* заголовок */
.block h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 1.1;
}

/* кнопки */
.buttons {
  
  display: flex;
  gap: 20px;
}

/* кнопка коричневая */
.colored {
  padding: 14px 32px;
  background: #a35832;
  color: white;
  border: none;
  border-radius: 6px;

  font-size: 18px;
  
  
}

/* белая кнопка */
.white {
  padding: 14px 32px;
  background: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 6px;

  font-size: 18px;
  cursor: pointer;
}
