@import "tailwindcss";

html {
    scroll-behavior: smooth;
}
body{
     background-image: url("/IMG/DifAll/background-bakery.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.55),
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0)
  );
  z-index: -1;
}